.course_list {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-gap: 1rem;
  justify-content: center;
}

.course_list > li {
  list-style: none;
  display: grid;
  place-items: center;
  grid-row-gap:0.5rem;
  border: 1px solid coral;
  border-radius: 8px;
  background-color: var(--secondary-color);
}