ul.course_list {
  display: grid;
  grid-template-columns: repeat(3, 272px);
  grid-gap: 1rem;
  justify-content: center;
  padding:0%
}

.course_list > li {
  list-style: none;
  display: grid;
  place-items: center;
  grid-row-gap:0.5rem;
  border-radius: 8px;
  background-color: var(--secondary-color);
  padding:8px;
}