#header {
  position: fixed;
  top: 0px;
  grid-template-columns: 80px 1fr 80px;
  grid-template-areas: "logo buffer menu";
  min-width: 100vw;
}

#logo {
  grid-area: logo;
  max-width: 64px;
  object-fit: contain;
  padding: 8px;
}

#logo > img {
  position: relative;
  left: 8px;
  margin: 0px;
  padding: 0px;
  place-self: center;
}

#buffer {
  grid-area: buffer;
}

#menu > img {
  position: relative;
  right: 8px;
  margin: 0px;
  padding: 0px;
  place-self: center;
  grid-area: menu;
  object-fit: fill;
  width: 64px;
  margin: 8px;
}