#footer {
  position: relative;
  bottom: 0px;
  grid-template-columns: 80px 1fr 80px;
  grid-template-areas: "flash copyright icons";
  min-width: 100vw;
}

#flash {
  border: 1px solid coral;
  max-height: 64px;
  background-image: linear-gradient(45deg, var(--secondary-color), var(--accent-color));
  margin: 8px;
}

#copyright {
  grid-area: copyright;
  place-self: center;
}

#icons {
  position:relative;
  right: 8px;
  grid-area: icons;
  display: grid;
  grid-template-columns: repeat(auto-fit, 32px);
  padding: 4px;
}

#icons > p {
  border: 1px solid coral;
  margin: 4px;
  height: 24px;
  width: 24px;
  text-align: center;
}

