:root {
  --bg-main-color: hsl(88, 25%, 78%, 100%);
  --txt-main-color: hsl(228, 9%, 45%, 100%);
  --primary-color: hsl(152, 28%, 66%, 100%);
  --secondary-color: hsl(0, 7%, 75%, 100%);
  --accent-color: hsl(176, 31%, 55%, 100%);
  --error-color: hsl(351, 62%, 54%, 100%);
  --success-color: hsl(137, 52%, 45%, 100%);
}

body {
  background-color: var(--bg-main-color);
}

.container {
  background-color: yellow;
  max-width: 800px;
  max-height: 1fr;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 32px 8px 32px 8px;
  border: solid 1px coral;
}

.component {
  background-color: lightblue;
  padding: 8px;
  border: solid 1px teal;
  height: 80px;
}

.text_container {
  text-align: center;
}

.image_container {
  place-self: center;
}

.image_container > img {
  width: 40vmin;
  height: 40vmin;
  object-fit: cover;
  object-position: 100% center;
}

#qualifications {
  height: 160px;
}
