:root {
  --bg-main-color: hsl(88, 25%, 78%, 100%);
  --txt-main-color: hsl(228, 9%, 45%, 100%);
  --primary-color: hsl(152, 28%, 66%, 100%);
  --secondary-color: hsl(0, 7%, 75%, 100%);
  --accent-color: hsl(176, 31%, 55%, 100%);
  --error-color: hsl(351, 62%, 54%, 100%);
  --success-color: hsl(137, 52%, 45%, 100%);
}

*::-webkit-scrollbar {
  display: block;
  width: 16px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 16px;
}

body {
  background-color: var(--bg-main-color);
  color: var(--txt-main-color);
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 80px;
  background-color: var(--bg-main-color);
  font-size: 16px;
  margin: 0px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  place-items: center;
}

.card {
  max-width: 800px;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 32px;
  margin: 32px 8px;
  min-height: fit-content;
  display: grid;
}

.component {
  background-color: var(--primary-color);
  height: 80px;
  padding: 0;
  display: grid;
}

.text_container {
  text-align: center;
  min-width: 40vmin;
}

.image_container {
  place-self: center;
}

.image_container > img {
  width: 40vmin;
  height: 40vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 16px;
}

button {
  height: 48px;
  width: 128px;
  background-color: var(--accent-color);
  border-radius: 16px;
  border: none;
  /* box-shadow: inset 0 0 8px 8px var(--primary-color); */
  color: var(--txt-main-color);
}